[Desktop Entry]
Version=1.0
Type=Application
Name=NotesSyncLinux
Comment=Sync public notes files and folders
Exec=notes-sync-linux
Icon=notes-sync-linux
Terminal=false
Categories=Utility;Education;Office;
StartupNotify=true
